:root {
  --clr-navy: #34495e;
  --primary-clr: #6563ff;
  --secondary-clr: #c4c3fc;
  --light-line: #e4e2ed;
  --cell-width: 22px;
  --light-text: #686673;
  --light-dot: #adaac0;
  --bg-primary: #fff;
  --bg-secondary: #fff;
  --primary-foreground: #000;
  --wall-clr: #0c3547;
  --path-clr:#fffe6a;
  --visited-clr:#40cee3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;/*border ko include krke width bnegi */
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}
body {
  width: 100vw;
  height: 100vh;
 
}
.template{

    width:100%;
    height:100%;
    grid-gap:10px;
    display:grid;
    grid-template-rows:auto 1fr ;
}
.template>*{
    border: 1px solid black;

}
nav {
    padding: 4px;
  white-space:nowrap;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: var(--clr-navy);
  /* position: relative; */
  /* z-index: 2; */ 
}
.logo {
  /* cursor: pointer; */
  font-size: 20px;
  font-weight: 600;
  color: white;
  /* text-transform: capitalize; */
  padding: 0 16px;
  /* white-space: nowrap; */
}
.btn{
    background-color: var(--primary-clr);
    color:white;
    padding:8px 16px;
    border-radius: 5px;
    cursor:pointer;
}
.nav-menu{
    display:flex;
    align-items:center;
}
.drop-box{
    position:relative;
}
.nav-menu>li>a:hover
{
 color:var(--secondary-clr);
} 
.nav-menu>li>a
{
font-weight: 600;
 color:white;
 padding: 8px 16px;
 display:flex;
 align-items: center;
 gap:8px ;
/* padding yha shi se nhi lgi toh display->block krna pdega as anchor tag by default inline hote hh */
} 
.nav-menu>li.active>a
{
    background-color: var(--primary-clr);
}
.nav-menu>li.active>a:hover
{
    color:white;
}
.drop-box .drop-menu {
  display: none;
  /* flex-direction: column; */
  /* gap: 2px; */
  position: absolute;
  right: 0;
  z-index: 100;
  background-color: var(--clr-navy);
  /* width: max-content; */
  min-width: 120px;
  /* font-size: 14px; */
  border-radius: 8px;
  padding: 4px;
  top: calc(100% + 20px);
}

/* .drop-box {
  position: relative;
}

.drop-box .dropdown-trigger {
  display: flex;
  align-items: center;
}

.drop-box .drop-menu {
  display: none;
  flex-direction: column;
  gap: 2px;
  position: absolute;
  right: 0;
  z-index: 10;
  background-color: var(--clr-navy);
  width: max-content;
  min-width: 130px;
  font-size: 14px;
  border-radius: 8px;
  padding: 4px;
  top: calc(100% + 14px);
}*/
.drop-box.active .drop-menu{
  display: block;
} 

 .drop-menu>li>a{
    color:white;
  /* width: 100%; */
  border-radius: 4px;
   padding: 8px ;
  display:block; 
   /* margin-bottom: 1px !important;  */
} 
/* .drop-menu>li>a:hover,
.drop-box>li.active>a{
    color:white;
    background-color: var(--primary-clr);
  /* width: 100%; */
  /* border-radius: 4px; */
  /* padding: 8px ;
  display:block; */
  /* margin-bottom: 1px !important; */
/* } */ 
.drop-menu>li.active>a,
.drop-menu>li>a:hover {
  background-color: var(--primary-clr);
} 
/* .drop-menu li {
  margin-bottom: 0;
} */ 
/* to remove scroll in site  make it responsive*/

/* ============= board ===================== */
.guide-bar{
  display:flex;
  gap:16px;
  padding: 8px;
  font-size:14px;
  text-transform:capitalize;
}
.guide-bar>li{
  display:flex;
  align-items: center;
  gap:4px;
}
#board{
  overflow:hidden;
}

.row{
    display: flex;
}
.col{
  aspect-ratio:1; 
  width:100%;
  /* to remove board ke niche vli space */
  min-width :var(--cell-width);
  border:1px solid var(--light-line);
}

@media screen and (max-width:1000px){
    nav{
        display:grid;
         grid-template-columns: 1fr 1fr 1fr;
         grid-row-gap: 4px;

/* dono rows ke beech ka gap */
         /* 3 hisso me bant diya */
    }
    .btn {
    justify-self: start;
  }
    .nav-menu {
    grid-column: 1/-1;
    width:max-content;
    /* puri width le lia */
  }
}