.caret{
      aspect-ratio: 1;
    display:block;
    width:14px;
    background: url(../assets/icon/caret-down.svg)
}

.path {
  /* important */
  background-color: var(--path-clr) ;
  animation: pathAnimation 1s ease-out forwards;
}
.unvisited {
  background-color: white;
  border: 1px solid var(--light-line);
}

.visited {
  background-color: var(--visited-clr) ;
  /* border-color: var(--clr-navy) !important; */
  animation: visitedAnimation 1s ease-out forwards; 
}
.wall {
  background-color: var(--clr-navy);
  animation: wallAnimation 0.5s ease-out forwards;
}
.source {
  background: url(../assets/icon/source.svg);
}
.target {
  background: url(../assets/icon/target.svg);
}
.icon{
  aspect-ratio:1;
  width: 20px;
}

/* =================== animations =================== */

@keyframes wallAnimation {
  0% {
    transform: scale(0.3);
    background-color: var(--wall-clr);
  }

  50% {
    transform: scale(1);
    background-color: var(--wall-clr);
  }
  100% {
    transform: scale(1);
    background-color: var(--wall-clr);
  }
}
/*
@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 80, 0.8);
    
    border-radius: 100%;
    box-shadow: 0 0 6px rgba(0, 200, 255, 0.4);
  }

  40% {
    background-color: rgba(0, 90, 255, 0.85); 
    box-shadow: 0 0 12px rgba(0, 90, 255, 0.6);
  }

  70% {
    transform: scale(1.05);
    background-color: rgba(0, 255, 180, 0.9); 
    box-shadow: 0 0 20px rgba(0, 255, 180, 0.7);
  }

  100% {
    transform: scale(1);
    background-color: var(--visited-clr);
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.9);
  }
}
/* Deep Navy */  /* Electric Blue */  /* Aqua Green */

@keyframes visitedAnimation {
    0% {
        transform: scale(.3);
        background-color: rgba(0, 0, 66, 0.75);
        border-radius: 100%;
    }

    50% {
        background-color: rgba(17, 104, 217, 0.75);
    }

    75% {
        transform: scale(1);
        background-color: rgba(0, 217, 159, 0.75);
    }

    100% {
        transform: scale(1);
        background-color: var(--visited-clr);

    }
} 

@keyframes pathAnimation {
  0% {
    transform: scale(0.6);
    background-color: var(--path-clr);
  }

  50% {
    transform: scale(1);
    background-color: var(--path-clr);
  }

  100% {
    transform: scale(1);
    background-color: var(--path-clr);
  }
}